



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e111e;
}
.App{
  background-color: #0e111e;
}

.App2 {
  font-family: "Open Sans", sans-serif;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #d8d6d6
}





/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #817d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
