



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e111e;
}
.App{
  background-color: #0e111e;
}



/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #817d7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}